[mysqld]
# 文字コードをUTF-8に設定
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# デフォルトポート（dockerで指定しているため不要？）
# port=3306

# タイムゾーン
# default-time_zone='+09:00'
default-time-zone='+09:00'